<router-outlet></router-outlet>
<!-- bottom nav bar -->
<div class="container position-fixed bottom-0 start-0 end-0 w-100 py-1 d-print-none" style="background-color: powderblue;">
    <div class="d-flex overflow-auto justify-content-around align-items-center">
        <div routerLinkActive="active p-2" class="rounded p-1">
            <a routerLink="/home">
                <i class="bi bi-house-door-fill fs-3"></i>
                <span class="ms-2 d-none">Home</span>
            </a>
        </div>
        <div routerLinkActive="active p-2" class="rounded p-1">
            <a routerLink="/attendance">
                <i class="bi bi-card-checklist fs-3"></i>
                <span class="ms-2 d-none">Attendance</span>
            </a>
        </div>
        <div routerLinkActive="active p-2" class="rounded p-1">
            <a routerLink="/timetable">
                <i class="bi bi-calendar2-month-fill fs-3"></i>
                <span class="ms-2 d-none">Time Table</span>
            </a>
        </div>
        <div routerLinkActive="active p-2" class="rounded p-1">
            <a routerLink="/notes">
                <i class="bi bi-journal-medical fs-3"></i>
                <span class="ms-2 d-none">Notes</span>
            </a>
        </div>
        <div routerLinkActive="active p-2" class="rounded p-1">
            <a routerLink="/profile">
                <i class="bi bi-person-circle fs-3"></i>
                <span class="ms-2 d-none">Home</span>
            </a>
        </div>
    </div>
</div>