<section class="container-fluid h-100 login-container">
    <form [formGroup]="passwordForm" class="row h-100 justify-content-center align-items-center"
        (ngSubmit)="passwordDetails()">
        <div class="col-12 d-flex justify-content-center col-md-6">
            <div class="login-form-container p-3">
                <h2 class="mb-4 login-text">{{pageName === 'set' ? 'Set New Password' : 'Enter password'}}</h2>
                <span class="fw-bold" style="font-size: 13px;">{{email}}</span>
                <div>
                    <input type="password" class="login-input w-100" placeholder="password" formControlName="password">
                </div>
                <p *ngIf="pageName === 'set'">Create a new security question and answer for accessing sensitive data in
                    app</p>
                <span class="fw-bold" *ngIf="pageName === 'set'">Note:</span><span *ngIf="pageName === 'set'">Security
                    answer is case sensitive so please note down.</span>
                <div formGroupName="securityQuestion" *ngIf="pageName === 'set'">
                    <div>
                        <input type="text" class="login-input w-100" placeholder="security question"
                            formControlName="question">
                    </div>
                    <div>
                        <input type="text" class="login-input w-100" placeholder="Security answer"
                            formControlName="answer">
                    </div>
                </div>
                <div class="text-center">
                    <button class="primary-btn" [disabled]="passwordForm.invalid">Login</button>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 d-none d-md-block"></div>
    </form>
</section>