.profile-icon {
    width: 3rem;
    height: 3rem;
}

.carousel-img {
    height: 14rem;
}

.log-btn {
    z-index: 3;
    color: blue;
    background-color: powderblue;
    border-radius: 10px;
    border: 1px solid blue;
    right: 0;
}
